<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <title>{Title}</title>
    <link rel="favicon" href="{Favicon}">

    <!-- style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="./base.css">

    <!-- javascript library -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-me navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="/tagged/news">top</a>
            </li>
            <li>
              <a href="/about">about</a>
            </li>
            <li>
              <a href="/tagged/video">video</a>
            </li>
            <li>
              <a href="/tagged/item">item</a>
            </li>
            <li>
              <a href="/tagged/misc">misc</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="header">
      <img class="img-responsive center-block" src="{HeaderImage}">
    </div>
    <div id="contents">
    </div>
    <div id="footer">
      <div id="footer-inner">
        Copyright © 見たら死ぬ official website All Rights Reserved.</br>
        ※画像の再配布については<a href="https://twitter.com/ojimahoden" target="_blank">小島ホーデン</a>までご連絡ください。</br>
        mitarashinu@gmail.com</br>
      </div>
    </div>
  </body>
</html>
