body {
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  font-size: 14pt;
}

nav a, nav a:hover, nav a:visited{
  color: black;
}

ul.navbar-nav a:hover {
  color: #f5a9f2;
  background-color: #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-me {
  background-color: #fff;
  text-align: center;
}

.navbar-me .navbar-toggle .icon-bar {
  background-color: #888;
}

img {
  height: 200px;
}

#main {
  margin-top: 100px;
}

.name {
  font-size: 15pt;
  font-weight: bold;
}

.items {
  text-align: center;
  margin-top: 15px;
  font-size: 12pt;
}

.items > a {
  text-decoration: none;
  color: #333;
}
